html {
    background-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #6ba292;
}

input {
    padding: 3Opx;
}

#input {
    padding: 20px;
    width: 394px;
    height: 50px;
    border: 3px #ffdc7c;
    border-radius: 12px;
    border-style: dotted;
    font-family: 'Barlow Condensed', sans-serif;
    color: #40665b;
    font-size: 25px;
}

.storage {
    height: 400px;
    width: 28%;
    position: relative;
}

.div-bg {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #40665b;
    font-size: 25px;
    position: relative;
}

.btn {
    position: absolute;
    right: 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 15px;
    color: #dd6141;
    border: 2px solid #ff9b71;
    border-radius: 12px;
}

.btn {
    padding: 4px;
}